<mat-card>
    <mat-card class="title-card">
        <div class="mat-title">User Details</div>
    </mat-card>
    <mat-card-content>
        <div class="row">
            <div class="col">
                <mat-icon>
                    account_circle
                </mat-icon>
            </div>
            <div class="col">
                {{user.username}}
            </div>
            <div class="col">
                {{user.netWorth}} Ɖ
            </div>
        </div>
        <div class="row">Available Cash: {{user.availCash}} Ɖ</div>
        <div class="row">
            Holdings:
            <ul>
                <li *ngFor="let holding of user.holdings">
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            {{holding.first.channelName}}
                          </mat-panel-title>
                          <mat-panel-description>
                            {{holding.second}} share{{holding.second>1?'s':''}}
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row">
                            <div class="col">Price per share : {{holding.first.sharePrice}} Ɖ</div>
                            <div class="col">
                                <button mat-raised-button color="primary" (click)="sell(holding.first)">Sell</button>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </li>
            </ul>
        </div>
        <button mat-raised-button color="primary" (click)="logout()">Logout</button>
    </mat-card-content>
</mat-card>