/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    background-color: #15202B;
}
body { 
    margin: 0px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-title {
    font-size: 24px;
    color: white;
}
.mat-display-4{
    font-size: 7vw !important;
    color: white;
}
.mat-card{
    background-color: #192734;
}
.title-card{
    background-color: #22303C;
}
.mat-expansion-panel-header-title {
    color: #E4E6EB;
  }
  .mat-expansion-panel-header-description {
    color: #E4E6EB;
  }
.mat-expansion-panel{
    background-color: #22303C;
    color: #E4E6EB;
}
.mat-expansion-panel-header {
    background-color: #192734;
}
.mat-card-content{
    color: #E4E6EB;
    font-size: large;
    margin: 32px;
}
.mat-form-field{
    width: 100%;
    font-size: large;
}
.mat-icon {
    font-size: 48px;
}