/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    background-color: #15202B;
}
body { 
    margin: 0px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-title {
    font-size: 24px;
    color: white;
}
.mat-display-4{
    font-size: 72px;
    color: white;
}
.mat-card{
    background-color: #192734;
}
.title-card{
    background-color: #22303C;
}